.mb-add-btn{
    margin-bottom: 20px;
}
.mb-table th {
    text-align: center;
}

.operation {
    cursor: pointer;
}

.operation-search {
    margin-right: 5px;
    font-size: 1.5em;
}

.operation-edit {
    margin: 0 5px;
    font-size: 1.5em;
}

.operation-remove {
    margin-left: 5px;
    color: red;
    font-size: 1.8em;
}

.mb-table.table > tbody > tr > td {
    padding-top: 13px;
}
.mb-time{
    cursor: pointer;
    display: inline-block;
}