# Turn on rewrite engine
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-d
# More rules below
#ErrorDocument 404 /medicineBox/index.html
#RewriteRule ^[A-Za-z0-9/]+$ /medicineBox/index.html [NC]

#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^localhost
#RewriteCond %{REQUEST_URI} !^user\.php$
#RewriteCond %{REQUEST_URI} \.php$
#RewriteRule (.*)\.php$ http://localhost/medicineBox/$1/ [R]


# 开启重写规则
RewriteEngine On
# 设置404页面
ErrorDocument 404 /medicineBox/
# 将do请求转换成php请求
RewriteRule ^/?([a-zA-Z/]+)\.do$ src/controller/$1.php [L]
# 将page页面请求转换成html页面请求
RewriteRule ^/?([a-z/]+)\.page$ view/$1.html [L]