# 开启重写规则
RewriteEngine On
# 设置404页面
ErrorDocument 404 /medicineBox/
# 将do请求转换成php请求
RewriteRule ^/?([a-zA-Z/]+)\.do$ src/controller/$1Controller.php [L]
# 将page页面请求转换成html页面请求
RewriteRule ^/?([a-z/]+)\.page$ view/$1.html [L]