<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost/medicineBox/index.html">
    <title>家用医疗箱</title>
    <link rel="shortcut icon" href="medicineBox.ico">
    <!--common CSS-->
    <link rel="stylesheet" href="res/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/common/font-awesome.min.css">
    <link rel="stylesheet" href="res/css/common/toaster.min.css">
    <link rel="stylesheet" href="res/css/common/themes/pickadate/classic.css">
    <link rel="stylesheet" href="res/css/common/themes/pickadate/classic.date.css">
    <link rel="stylesheet" href="res/css/common/themes/pickadate/classic.time.css">
    <!--CSS-->
    <link rel="stylesheet" href="res/css/index.css">
    <link rel="stylesheet" href="res/css/main.css">
    <link rel="stylesheet" href="res/css/manage.css">
</head>
<body ng-app="medicineApp" ng-controller="indexCtrl">
<toaster-container></toaster-container>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <button type="button"
                                id="mb-navbar-btn"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#mb-navbar"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a ng-click="changeNavBar('')"
                           class="navbar-brand" href="main">MBS</a>
                    </div>
                    <div class="collapse navbar-collapse" id="mb-navbar">
                        <ul class="nav navbar-nav">
                            <li ng-class="{'active':currentPage=='manage'}"
                                role="presentation" ng-click="changeNavBar('manage')">
                                <a href="manage">药品管理</a>
                            </li>
                            <li ng-class="{'active':currentPage=='diagnosis'}" ng-click="changeNavBar('diagnosis')"
                                role="presentation">
                                <a href="diagnosis">自助诊断</a>
                            </li>
                            <li ng-class="{'active':currentPage=='efficacy'}" ng-click="changeNavBar('efficacy')"
                                role="presentation">
                                <a href="efficacy">药效普及</a>
                            </li>
                            <li ng-class="{'active':currentPage=='recording'}" ng-click="changeNavBar('recording')"
                                role="presentation">
                                <a href="recording">体检记录</a>
                            </li>
                            <li ng-class="{'active':currentPage=='diet'}" ng-click="changeNavBar('diet')"
                                role="presentation">
                                <a href="diet">健康饮食</a>
                            </li>
                            <li ng-class="{'active':currentPage=='exercise'}" ng-click="changeNavBar('exercise')"
                                role="presentation">
                                <a href="exercise">康复锻炼</a>
                            </li>
                            <li role="presentation" ng-click="logout()">
                                <a href="javascript:">退出登录</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <img class="mb-banner" src="res/img/banner.jpg" alt="">
        </div>
    </div>
    <div ng-view=""></div>
</div>
<!--common JS-->
<script src="res/js/common/md5.js"></script>
<script src="res/js/common/angular.min.js"></script>
<script src="res/js/common/angular-cookies.min.js"></script>
<script src="res/js/common/angular-route.min.js"></script>
<script src="res/js/common/angular-animate.min.js"></script>
<script src="res/js/common/toaster.min.js"></script>
<script src="res/js/common/jquery.min.js"></script>
<script src="res/js/common/bootstrap.min.js"></script>
<script src="res/js/common/picker.js"></script>
<script src="res/js/common/picker.date.js"></script>
<script src="res/js/common/picker.time.js"></script>
<script src="res/js/common/picker-translator-zh_CN.js"></script>
<!--config JS-->
<script src="res/js/app.js"></script>
<script src="res/js/route.js"></script>
<!--controllers-->
<script src="res/js/controller/indexController.js"></script>
<script src="res/js/controller/mainController.js"></script>
<script src="res/js/controller/manageController.js"></script>
<script src="res/js/controller/diagnosisController.js"></script>
<!--service-->
<script src="res/js/service/loginService.js"></script>
</body>
</html>