<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">自助诊断</h1>
    </div>
    <div class="panel-body">
        <p>关于阑尾炎的症状选择：（请尽量周全地选择，以便提高诊断结果的准确性）</p>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th>类型</th>
                <th>症状</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in diagnosis.source">
                <td>{{item.diagnosisType}}</td>
                <td>
                    <select title="" ng-model="input"
                            ng-change="inputDiagnosis(item.diagnosisType,input)"
                            ng-options="x for x in item.diagnosisName">
                        <option value="">请选择</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="confirm()">诊断</button>
        <div class="mb-diagnosis-result">诊断结果：{{result}}</div>
    </div>
    <div class="panel-footer">
        由于目前数据不足，暂时只能诊断阑尾炎，请见谅。
    </div>
</div>

